$main-font-color: #2a5885;
$date-color: #939393;
.like {
  position: relative;
  .svg {
    position: absolute;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .views {
    position: absolute;
    right: 0;

    img {
      width: 12px;
      height: 12px;
    }
  }
}
.owner-img {
  img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }
}
.post-title {
  padding: 15px 20px 0;
}
.owner-text-setting {
  padding-top: 3px;
  a {
    text-decoration: none;
    color: $main-font-color;

    &:hover {
      text-decoration: underline;
    }
  }
}
.posted-date {
  a {
    color: $date-color !important;
  }
}

.post-content {
  display: block;
  padding: 8px 20px 20px;

  .discription {
    margin: 10px 2px;
  }
  img {
    border-bottom: 1px solid $date-color;
  }
}
.num {
  display: inline-block;
  padding-top: 10px;
  white-space: nowrap;
  padding: 3px;
  margin-right: 10px;
  font-weight: 550;
  color: rgb(131, 130, 130);
}
