body {
  background-color: #edeef0;
}
.App {
  font-size: 14px;
  width: 550px;
  height: 120%;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
    sans-serif;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  background-color: white;
  margin: 15px 0 0;
}

hr {
  margin-top: 15px;
  border: 0;
  border-top: 1px solid rgb(228, 226, 226);
}
